@charset "UTF-8";

.track-content .padding-top {
    padding-top: 10% !important;
}

.track-content h1 {
    font-size: 1.4rem;
    font-family: 'Frutiger', sans-serif;
}

.track-content h2 {
    font-family: 'Frutiger', sans-serif;
    font-size: 1.2rem;
    color: #84529C;
}

.course-part {
    font-family: 'Frutiger', sans-serif;
    font-size: 1.4rem;
}

.clase {
    font-family: 'Frutiger', sans-serif;
    font-size: 1.3rem;
    color: #84529C;
}

.track-content h3 {
    font-family: 'Frutiger', sans-serif;
    font-size: 1.1rem;
    color: #210658;
}

.track-content .slogan {
    text-align: right;
    color: #210658;
}

.track-content .track-text {
    background-color: #B1CAE8;
    color: #210658;
    border: 0;
}

.track-content .connect {
    text-align: center;
}

.track-content .align-left {
    text-align: left;
}

/* Links */
.track-content a:link {
    color: #9c62b4;
    background-color: transparent;
    text-decoration: underline;
}

.track-content a:visited {
    color: #9c62b4;
    background-color: transparent;
    text-decoration: none;
}

.track-content a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

.track-content a:active {
    color: #9c62b4;
    background-color: transparent;
    text-decoration: underline;
}

/* Einde Links */

#connect {
    font-family: 'Open Sans', sans-serif;
}