{{ define "main" }}
<section class="track-content">
    <div class="container-fluid padding-top pb-3">
        <div class="row justify-content-md-center">
            <div class="col-md-6">
                <div class="row justify-content-between">
                    <h3 class="track-title">{{ .Title }}</h3>
                </div>
                <div class="row">
                    {{ .Params.description | markdownify }}
                </div>
                <h4 class="slogan">{{ i18n "slogan"}}</h4>
            </div>
            <div class="col-md-3 align-self-center">
                <div id="program_img">
                    <img class="img-fluid" src="{{ .Params.image | absURL }}">
                </div>
            </div>
        </div>
    </div>

    <div class="track-text pt-3 pb-3 pl-5 pr-4">
        <div class="row">
            <div class="col-10">
                <h1 class="tussenkop">{{ i18n "intro"}}</h1>
                <p class="intro-text">{{ .Params.intro | markdownify }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-10">
                {{ .Content }}
            </div>
        </div>
    </div>

    <div class="container connect pt-4 pb-4">
        <div class="row justify-content-center">
            <div class="col-md-9">
                <h1 id="connect" class="pb-1">{{ i18n "connect"}}</h1>
                <p>
                    {{ i18n "ask-questions"}}
                </p>
                <p class="align-left">
                    {{ i18n "philpar2"}}
                    {{ i18n "philpar1"}}
                </p>
            </div>
        </div>

        <div class="row justify-content-center pt-3">
            <div id="code_breed" class="col-md-5 offset-md-1 align-self-center">
                <img src="{{ "images/compleet.png" | absURL }}" id="code_breed_img" class="img-fluid">
            </div>
        </div>

    </div>
</section>
{{ end }}